-# - @players.each do | player |
-#   = link_to player.name, player
= will_paginate @players
%table.table.table-striped
  %tr
    %th.span1 Name
    %th.span1 height
    %th.span1 weight
  - @players.each do |player|
    %tr
      %td
        %a{href: "http://sports.yahoo.com/nhl/players/#{player.yahoo_id}/"}= player.name, player.yahoo_id
      %td
        = player.height
      %td
        = player.weight
