-# - @players.each do | player |
-#   = link_to player.name, player

%table.table.table-striped
  %tr
    %th.span1 Name
  - @names.each do |m|
    %tr
      %td
        %a{href: "http://sports.yahoo.com/nhl/players/#{m[1]}/"}= m[0]
